@page "/delivery"
@using ProiectCofetarie.Data
@using ProiectCofetarie.Library;
@using ProiectCofetarie.Library.Models;
@inject APIService APIService
@inject AppCofetarie AppCofetarie
@inject WeatherForecastService ForecastService
@inject ListaComenzi comanda
<div>
<h1>VIZUALIZARE COMANDA</h1>
<select asp-for="SelectedString" class="form-control">
	@foreach (var item in comanda)
	{
		<option value="@item">@item</option>
	}
</select>
</div>
<div>
	<h3>Pentru a sterge un element din comanda introduceti numele apoi apasati butonul</h3>
</div>
<div>
	<InputText DisplayName="email" @bind-Value="prod"></InputText>
	<button type="submit" class="deletefromlist" @onclick="DeleteFromlist">Sterge</button>
	<p>@message</p>

</div>

<main>

	<h2>  </h2>
	<form>
		<label for="nume">Nume:</label>
		<input type="text" id="nume" name="nume" required>
		<h3> </h3>
		<br>

		<label for="telefon">Telefon:</label>
		<input type="tel" id="telefon" name="telefon" required>
		<h3> </h3>
		<br>

		<label for="adresa">Adresa:</label>
		<input type="adresa" id="adresa" name="adresa" required>
			<h3></h3>
		<br


		<label for="observatii">Observații:</label>
		<textarea id="observatii" name="observatii"></textarea>
		<br>
		<h2>Pretul curent al comenzii este @comanda.getpretfinal()</h2>
		<button type="submit" value="Trimite comanda" @onclick="trimiteComada">Trimite comanda</button>
		<p>@message</p>
	</form>
</main>


<style>
	.container {
		border: 2px solid #ccc;
		width: 300px;
		height: 100px;
		overflow-y: scroll;
		h1{
			text-align:center;
		}
		button{
			height 100px;
			width 300px;
			font-size 16px;
		
		}
		p{
			color:red;
		}

</style>

@code {
	public string message;
	public String comandaCurenta;
	public String prod;

	public void SariPeAltaPagina()
	{
		foreach(var s in comanda)
		{
			comandaCurenta += " " + s;

		}

	}
	public void DeleteFromlist()
	{
		foreach (var s in comanda)
		{
			if (s == prod)
			{
				comanda.Remove(s);
				comandaCurenta = "";
				comanda.crestecomanda(-100);
				break;
			}
		}
	}
	public void trimiteComada()
	{
		@if (@AppCofetarie.IsLoggedIn)
		{
			message = "comanda a fost plasata cu succes";
		}
		else
		{
			message = "trebuie sa va logati inainte de a plasa comanda";
		}
	}
}
